/* Define las variables CSS personalizadas */
:root {
  --color-primario: #001F3F;  /* Azul marino */
  --color-fondo: #333333;     /* Gris oscuro */
  --color-texto: #FFFFFF;     /* Blanco */
  --color-acento: #FF4136;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  margin: 0 0.5rem;
}




